.main-container {
  background-color: darkseagreen;
  display: inline-flex;
  padding: 20px;
  margin: auto;
}

.outer-drop-zone {
  width: 129px;
  height: 129px;
  display: inline-flex;
  justify-content: space-around;
  /* margin: 5px; */
  background-color: whitesmoke;
  border: solid blue 1px
}
