.main-container {
  background-color: darkseagreen;
  display: inline-flex;
  padding: 20px;
  margin: auto;
}

.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px lawngreen solid;
  background-color: whitesmoke;
}

.fill {
  background-image: url('http://source.unsplash.com/random/150x150');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.hold {
  border: solid cornflowerblue 4px;
}

.hovered {
  background: magenta;
  border-style: dashed;
}

.invisible {
  display: none;
}

.outer-drop-zone {
  width: 250px;
  height: 250px;
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
  background-color: black;
}
