.index-square {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: lightsalmon;
  top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placement-square-hovered-ship {
  height: 23px;
  width: 23px;
  border: solid 0px black;
  background-color: pink;
}

.placement-square-fill {
  height: 23px;
  width: 23px;
  border: solid 0px black;
  background-color: pink;
}

.placement-square-empty {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: purple;
}

.confirmed-hit {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: red;
}

.confirmed-miss {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: whitesmoke;
}

.square {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: lightskyblue;
}

.ship {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: tomato;
  /* this next line disables clicking on the square so that the click event points to the larger
  group of squares representing the ship*/
  pointer-events: none;
}