.index-square {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: lightsalmon;
  top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placement-square-fill {
  height: 25px;
  width: 25px;
  border: solid 0px black;
  background-color: pink;
}

.placement-square-hovered {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: rgb(25, 209, 9);
}

.placement-square-empty {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: purple;
}

.confirmed-hit {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: red;
}

.confirmed-miss {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: whitesmoke;
}

.square {
  height: 23px;
  width: 23px;
  border: solid 1px black;
  background-color: lightskyblue;
}

.placement-square-draggable {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: yellowgreen;
}

.ship {
  background-color: tomato;
}