h1,h2,h4,p {
  margin: 10px;
}

ul {
  list-style: none;
  margin-top: 0px;
}

.App {
  height: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  background-color: #282c34;
  text-align: center;
  color: rgba(255,255,255,.87);
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-main {
  display: flex;
  justify-content: center;
}

.player-area-parent {
  display: flex;
  
}

.player-dashboard {
  justify-content: center;
}

.board {
  width: 350px;
  margin: 0px;
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  justify-content: center;
}

.index-square {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: lightsalmon;
  top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: lightskyblue;
}

.confirmed-hit {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: red;
}

.confirmed-miss {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: whitesmoke;
}

.scorecard {
  margin: 15px 0px;
}

.ship-list-area {
  margin: 15px 0px;
  padding-right: 40px;
  justify-content: center;
  display: flex;
  grid-template-columns: 140px 45px 140px;
}

.player-ship-list {
  text-align: right;
}

.enemy-ship-list {
  text-align: left;
}

.code-link-button {
  border-width: 1px;
  border-radius: 100%;
  margin: 0px;
  padding: 1px 0px 0px 0px;
  height: 64px;
  width: 64px;
  position: fixed;
  right: 15px;
  bottom: 1rem;
  opacity: 80%;
}

.code-link-svg {
  position: sticky;
  border-width: 1px;
  border-radius: 100%;
  margin: 0px;
}
