.App {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background-color: #282c34;
  text-align: center;
  color: rgba(255,255,255,.87);
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-main {
  display: flex;
  justify-content: center;
}

.player-area- {
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-area-parent {
  display: flex;
}

.board {
  padding: 25px;
  width: 350px;
  margin: 0;
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  justify-content: center;
}

.index-square {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: lightsalmon;
  top: auto;
}

.square {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: lightskyblue;
}

.confirmedHit {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: red;
}

.confirmedMiss {
  height: 25px;
  width: 25px;
  border: solid 1px black;
  background-color: whitesmoke;
}

.ship-list-area {
  display: grid;
  grid-template-columns: 175px 50px 175px;
}

.player-ship-list {
  text-align: right;
}

.enemy-ship-list {
  text-align: left;
}
